<!DOCTYPE html>
<html lang="en" ng-app="tuzobusApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TUZOBUS</title>
<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/jasny-bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/tuzobus.css">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.mobile.custom.min.js"></script>
<script src="assets/js/jasny-bootstrap.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="assets/js/lodash.underscore.js"></script>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="assets/js/angular-google-maps/angular-google-maps_dev_mapped.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers.js"></script>
<script src="app/filters.js"></script>
<script src="app/services.js"></script>

<script src="assets/js/tuzobus.js"></script>
</head>
<body>
	<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
		<ul class="nav navmenu-nav" ng-controller="tbMenuCtrl">
			<li ng-repeat="item in items" ><a href="#/{{item.target}}" ng-click="hide();" ><img ng-src="{{item.iconUrl}}"> {{item.menu}}</a></li>
		</ul>
	</div>
	<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><img src="assets/img/bus_w.png"> Tuzobús</a>
      <div class="dropdown settings">
      	<button class="settings-toggle dropdown-toggle" type="button" id="dw_settings" data-toggle="dropdown" aria-expanded="false">
      		<i class="fa fa-ellipsis-v fa-2x"></i>
      	</button>
      	<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dw_settings" ng-controller="out">
      		<li><a href="#/perfil">Perfil</a></li>
          <li><a href="#" ng-click="out()">Salir</a></li>
      	</ul>
      </div>
    </div>
    <div class="container">
      <div ng-view class="view-frame"></div>
    </div>
</body>
</html>