<div class="comoUsar">
	<h1>¿Cómo usar Tuzo Autobús App?</h1>
	<div class="col-xs-12">
	<p class="text-center">¡Gracias por instalar Tuzo Autobús App!</p>
	<p>En esta guia podrás conocer las funciones básicas de la app.</p>
	<p>Accede rápidamente a las estaciones de la ruta troncal desde esta opción:</p>
	<div class="text-center">
		<img src="assets/img/tutorial_1.png"><br><br>
		<img src="assets/img/tutorial_2.png"><br><br>
	</div>
	<p>Consulta los servcios express haciendo click en ésta opción:</p>
	<div class="text-center">
		<img src="assets/img/tutorial_3.png">
	</div>
	<p>Consulta todas las opciones en el menú desplegable superior izquierdo, también puedes activarlo deslizando de izquierda a derecha.</p>
	<div class="text-center">
		<img src="assets/img/tutorial_4.png">
	</div>
	<p>Haz scroll en las estaciones para ver el mapa o los servicios express disponibles:</p>
	<div class="text-center">
		<img src="assets/img/tutorial_5.png">
	</div>

	<p class="text-center">¡Descubre todas las funciones de Tuzo Autobús App!</p>
	</div>
</div>