<div class="comoUsar">
	<h1>¿Cómo usar Tuzobús?</h1>
	<div class="col-xs-12">
	<p>Podrás abordarlo en estaciones seguras que contarán con cámaras de vigilancia, personal de seguridad y pantallas de información para el usuario.</p>
	<p>A las estaciones podrás llegar a través de puentes o cruces a nivel de calle que contarán con semáforos peatonales.</p>
	<p>En tu colonia podrás abordar vehículos que te transportarán a las estaciones del corredor Téllez-Centro. Son las mismas rutas que acostumbras pero con unidades nuevas, seguras y confiables.</p>
	<p>Podrás elegir el pago que más te convenga, ya sea en efectivo o con tarjeta electrónica; todo de manera automática.</p>
	</div>
</div>