<div id="locationStatus"></div>
<div ng-repeat="est in estaciones" class="estCercanas">
	<ul>
		<li ng-repeat="s in est.servicios" class="{{s}}">
			<img src="assets/img/estaciones_icons/bus_w.png"> {{s | uppercase}}
		</li>
	</ul>
	<div class="text-center">
		<div class="icon"><img ng-src="{{est.icon}}"></div>
		<h4>{{est.name}}</h4>
		<a ng-href="#/mapa/estacion/{{est.id}}">
			{{est.distancia}}<br>
			<img src="assets/img/circle_mapa.png">
		</a>
	</div>
</div>

<ng-include src="'views/ads.html'" ng-controller="tbAds"></ng-include>