<div class="row">
<ul class="estaciones">
	<li ng-repeat="estacion in estaciones" onclick="est_toogle($(this));">
		<div class="icon">&nbsp;</div>
		<div class="stage2">
			<a href="#/mapa/estacion/{{estacion.id}}"><img src="assets/img/circle_mapa.png" class="st"></a>
			<a ng-repeat="img in estacion.servicios" ng-href="#/servicios/{{img}}"><img  ng-src="assets/img/circle_bus_{{img}}.png" class="st"></a>
		</div>
		<div class="stage1">
			<div ng-repeat="ser in estacion.servicios" class="ser {{ser}}">&nbsp;</div>
			{{estacion.name}}<br><small>ver mapa</small>
		</div>
	</li>
</ul>
</div>
<ng-include src="'views/ads.html'" ng-controller="tbAds"></ng-include>