<div class="row pachuca">

</div>
<div class="text-center home">
	<div class="row"><a href="#/estaciones">
		<img src="assets/img/estaciones.png">
		Estaciones
	</a></div>
	<div><a href="#/servicios">
		<img src="assets/img/big_bus.png">
		Rutas
	</a></div>
</div>
<div id="activate_form" class="text-center">
  <div class="row pachuca"></div>

  <div class="row">
  	<div class="col-xs-12">
		<img src="icon.png"><h1>Tuzo Autobús App</h1>
  	</div>
  </div>
  <div class="row">
	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-10"><p>En una ciudad que crece aceleradamente nos falta tiempo para todo.</p><p>La nueva aplicación Tuzo Autobús llega para hacerte la vida mucho más fácil ayudándote a llegar al lugar que deseas con una aplicación intuitiva y rápida.</p></div>
	<div class="col-xs-1">&nbsp;</div>
  </div>
  <div class="row">
	<div class="col-xs-2">&nbsp;</div>
	<div class="input-group col-xs-8 push-left-2">
		<span class="input-group-addon"><i class="fa fa-key"></i></span>
		<input type="text" class="form-control" id="activate_code" placeholder="Código de tu invitación">
	</div>
	<div class="col-xs-2">&nbsp;</div>
	<div class="col-xs-12">
		<button class="btn btn-primary btn-lg" ng-click="activateApp()">Probar App</button>
	</div>
  </div>
</div>