<div class="row pachuca">

</div>
<div class="text-center home">
	<div class="row"><a href="#/estaciones">
		<img src="assets/img/estaciones.png">
		Estaciones
	</a></div>
	<div><a href="#/servicios">
		<img src="assets/img/big_bus.png">
		Servicios
	</a></div>
</div>
<div id="activate_form" class="text-center">
  <div class="row">
  	<div class="col-xs-12">
		<img src="icon.png"><h1>Tuzobús App</h1>
  	</div>
	<div class="col-xs-1">&nbsp;</div>
	<div class="input-group col-xs-10 push-left-2">
		<span class="input-group-addon"><i class="fa fa-key"></i></span>
		<input type="text" class="form-control" id="activate_code" placeholder="Ingresa tu codigo de activación">
	</div>
	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-12">
		<button class="btn btn-primary" ng-click="activateApp()">Activar Tuzobús App</button>
	</div>
  </div>
</div>