<div class="middle">
    <div style="margin-top:-15px;" class="text-right" >
        <a class="btn btn-primary"href="#/rutasAlimentadoras">&lt; Regresar</a>
    </div>
    <h1>{{h1}}</h1>
    <ui-gmap-google-map id="map"
         center="map.center"
         zoom="map.zoom"
         draggable="true"
         refresh="map.refresh"
         options="map.options"
         events="map.events"
         bounds="map.bounds">
         <ui-gmap-markers models="paradas" coords="'self'" icon="'icon'" labelContent="'title'">
        </ui-gmap-markers>
        <ui-gmap-polylines models="rutas" path="'path'" stroke="'stroke'" visible="'visible'" >
        </ui-gmap-polylines>
    </ui-gmap-google-map>
</div>