<div class="row servicioDetail">
  <div class="col-xs-12">
	<h1><a href="#/servicios"> &lt; Rutas</a> <a href="#/mapa/servicio/{{servicio.id}}"> {{servicio.name}} <img src="assets/img/circle_mapa.png"></a></h1>
		<div id="cont_mapa">
		  <div class="servicio_mapa">
			<!--img id="svg_mapa" src="{{servicio.mapa}}" alt="svg image of a tiger" style="width: 500px; height: 500px; border:1px solid black; "/-->
			
		  </div>
		</div>
  </div>
</div>
<ng-include src="'views/ads.html'" ng-controller="tbAds"></ng-include>