<div class="row">
	<div class="col-xs-12">
		<h1>Sobre Tuzobús App</h1>
		<div class="col-xs-12 sobre">
			<p>Tuzobús App es una aplicación  que brinda al usuario información general del sistema de transporte colectivo Tuzobús de la ciudad de Pachuca. No esta relacionada de forma alguna con el servicio que éste proporcioina.</p>
			<h3>Soporte</h3>
			<p>Si tienes algún comentario o sugerencia por favor ponte en contacto.<br>chimopo@gmail.com</p>
			<h3>Idea original y diseño</h3><p>Oscar Javier Cancino Feria<br>behance.net/chimopo</p>
			<h3>Desarrollo y programación</h3><p>Pablo César Sánchez Porta<br>facebook.com/sanchezporta</p>
		</div>
	</div>
</div>