/* Tuzobus */

/* Importando Fuentes*/
@import url('../fonts/Comfortaa.css'); /* Comfortaa */
@import url('../fonts/Comfortaa-Bold.css'); /* Comfortaa-Bold */
@import url('../fonts/Comfortaa-Light.css'); /* Comfortaa-Light */
body{
	background: #26282A;
	overflow-x: hidden;
}
.navbar{
	background: #9DCD5D;
}
.navbar-default a.navbar-brand{
	font-family: 'Comfortaa-Bold', sans-serif;
	color: #fff;
	padding: 15px 0;
	font-size: 1.8em
}
.navbar-default a.navbar-brand:focus, .navbar-default a.navbar-brand:hover{
	color: #fff;
}
.navbar-default .navbar-toggle{
	float: left;
	border: 0;
	margin-left: -.8em;
	margin-right: .2em;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 3px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: none;
}
.navbar-default a.navbar-brand img{
	display: inline-block;
}
.navbar-default .settings .settings-toggle{
	float: right;
	height: 50px;
	background: none;
	color: #fff;
	border:0;
}
.navbar-default .settings .dropdown-menu{
	margin-top: 52px;
}
.navmenu-default{
	background: #1B1C1E;
	border-right: 0;
}
.navmenu-default .navmenu-nav{
	margin-top: 50px;
}
.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a{
	font-family: 'Comfortaa-Bold', sans-serif;
	color: #fff;
}
.navmenu-default .navmenu-nav>li>a:focus,.navmenu-default .navmenu-nav>li>a:hover,.navmenu-default .navmenu-nav>li>a.active, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a.active{
	background: #4C4D50;
	color: #fff;
}

.container{
	padding-top: 72px;
	color: #fff;
	font-family: 'Comfortaa', sans-serif;	
}
.container h1{
	font-size: 1.3em;
	background: #3B3E40;
	border-bottom: 2px solid #2F2F2F;
	padding: .5em;
	margin-top: 0;
	margin-bottom: 0;
}
.pachuca{
	min-height: 180px;
	background: url('../img/pachuca.png') no-repeat top center;
	background-size: cover;
	margin-top: -20px;
}
.home a{
	color: #fff;
	font-family: 'Comfortaa-Bold', sans-serif;
	display: table-cell;
	vertical-align: middle;
}
.home a img{
	display: block;
	margin: 1em auto .5em;
}
.estaciones{
	list-style: none;
	margin: -20px 0 0 0;
	padding: 0
}
.estaciones li {
	clear: both;
}
.estaciones li .icon{
	width: 20%;
	float: left;
	background: url('../img/estaciones_icons/back.png') no-repeat center;
	background-size: contain;
}
.estaciones li.active .icon{
	background: url('../img/estaciones_icons/back.png') no-repeat center, #3B3E40;
	background-size: contain;
}
.estaciones li .stage1{
	width: 80%;
	float: left;
	padding-top: 1em;
	overflow: hidden;
}
.estaciones li.active .stage1{
	background: #3B3E40;
}
.estaciones li .stage1 .ser{
	float: right;
	width: 20px;
	height: 3px;
}
.ser.t01{
	display: none;
}
.ser.t02{
	background: #EACB3F;
}
.ser.t03{
	background: #2EB8E5;
}
.ser.t04{
	background: #6A2777;
}
.ser.t05{
	background: #F08E2E;
}
.estaciones li .stage2{
	position: absolute;
	margin-left: 100%;
	width: 80%;
	z-index: 3;
	background: url('../img/estaciones_icons/arrow.png') no-repeat left center, #26282A;
	background-size: contain;
	display: none;
}
.estaciones li .stage2 a{
	display: block;
	float: right;
}
.estaciones li .stage2 .st{
	float: right;
	margin-right: .2em;
}
.servicio{
	float: left;
	width: 50%;
	text-decoration: none !important;
}
.servicio:nth-child(2){
	width: 100%;
}
.servicio:focus{
	opacity: .8;
}
.servicio h2{
	font-size: 1.2em;
	padding: 5px;
	margin-top: 0;
	margin-bottom: 0;
	color: #fff;
}

.servicio.t01{
	background: #9DCD5D;
}
.servicio.t01 h2{
	background: #91B352;
}
.servicio.t02{
	background: #EACB3F;
}
.servicio.t02 h2{
	background: #D2B33A;
}
.servicio.t03{
	background: #2EB8E5;
}
.servicio.t03 h2{
	background: #24A7C6;
}
.servicio.t04{
	background: #6A2777;
}
.servicio.t04 h2{
	background: #4A1B55;
}
.servicio.t05{
	background: #F08E2E;
}
.servicio.t05 h2{
	background: #D27D2E;
}

.servicioDetail h1{
	height: 50px;
}
.servicioDetail h1 a{
	display: block;
	float: right;
	color: #fff;
}
.servicioDetail h1 a:first-child{
	float: left;
}
.servicioDetail h1 a img{
	height: 35px;
}
.servicio_mapa{
	width: 100%;
	height: auto;
}
#cont_mapa{
	width: 100%
}
.angular-google-map-container {
    height: 400px;
}
.comoUsar>div, .creditos{
	background: #3B3E40;
	padding-top: 1em;
}
.Ads{
	margin-top: 1.5em;
}
.Ads>div>div{
	background: #3B3E40;
}